.catalog {

    &-content {
        .col-12 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .text {
            text-align: left;

            p {
                font-size: 22px;
            }
        }
    }

    &-offer {
        position: relative;
        padding: 25px 0px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        .col-md-4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .col-md-8 {

            .col-md-4 {
                @include mq('phone-sm') {
                    margin-bottom: 10px;
                }

                @include mq('tablet') {
                    margin-bottom: 0px;
                }
            }
        }
    }

    &-link-to-site {
        background-color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;

        clip-path: polygon(0 0, 100% 0, 100% 100%);
        color: $white;
        z-index: 900;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        @include mq('phone-sm') {
            width: 100px;
            height: 100px;
        }

        @include mq('tablet') {
            width: 200px;
            height: 200px;
        }

        a {
            width: min-content;
            z-index: 950;
            color: white;
            line-height: 16px;
            position: absolute;

            text-align: center;
            transform: rotate(45deg);
            text-transform: uppercase;

            @include mq('phone-sm') {
                top: 15px;
                right: 10px;
                font-size: 12px;
            }

            @include mq('tablet') {
                top: 25px;
                right: 25px;
                font-size: 14px;
            }

        }
    }

    &-subheader {
        color: $light;

        @include mq('phone-sm') {
            margin-top: 50px;
            text-align: center;
            margin-bottom: 10px;
        }

        @include mq('tablet') {
            margin-top: 0px;
            text-align: left;
            margin-bottom: 25px;
        }
    }

    &-our {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;


        width: 150px;
        height: 150px;
        background-color: $light;
        color: $white;
        border-radius: 50%;
        z-index: 800;
        border: 3px solid $white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

        p {
            margin: 0;
            padding: 0;
            width: min-content;
            text-align: center;
            line-height: 18px;
            text-transform: uppercase;
            transform: rotate(10deg);

        }

        @include mq('phone-sm') {
            top: -25px;
            left: 0px;
        }

        @include mq('tablet') {
            top: inherit;
            bottom: -25px;
            left: -25px;
        }
    }
}